<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645560434000-16uo7th3kl3850nkcgastc4rjbal7t20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645560434000-16uo7th3kl3850nkcgastc4rjbal7t20</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>645560434000-0rs1ap92uqqvdpu22iktjrv55adp19c1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8_gLHZAweGIqBRbkmUFFzzpp0FCTDA_M</string>
	<key>GCM_SENDER_ID</key>
	<string>645560434000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snaplocal.app</string>
	<key>PROJECT_ID</key>
	<string>neighboursadda-11bb0</string>
	<key>STORAGE_BUCKET</key>
	<string>neighboursadda-11bb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645560434000:ios:49b10f9f6c0cce5bf1c055</string>
</dict>
</plist>